@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --letra1: Verdana, Geneva, Tahoma, sans-serif;
    --letra2: 'Passion One', cursive;
    --letra3: 'Courgette', cursive;
}

*{
    margin: 0;
    padding: 0;

    
}

html, body{
    font-family: var(--letra1);
    background-color: darkgray;
}

header{
    background: black;
    color: white;
    text-align: center;
    
}

header h1{
    font-family:var(--letra2) ;
    padding-top: 50px;
    font-size: 10vw ;
    font-variant: small-caps;
   
}

header p{
    font-size:1em;
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    height: 100vh;
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--letra3);
    font-size: 2.3vw;

}

section p{
    padding-bottom: 2em;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.226);
    width: fit-content;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.438);

}
section.normal{
    background-color: white;
}

section.imagem{
    background-color: rgb(102, 102, 102);
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.452);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}


#img01{
    background-image: url(../imagens/background001.jpg);
    
}

#img02{
    background-image: url(../imagens/background002.jpg) ;
    
}





footer{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
   
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    text-decoration: underline;
}

